<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /u/scripts/eol_php_code/update_resources/connectors/

php SDR_all.php _ &apos;{&quot;task&quot;:&quot;print_lifeStage_statMeth&quot;}&apos;         #1.32 hours
php SDR_all.php _ &apos;{&quot;task&quot;:&quot;print_basal_values&quot;}&apos;               #1.65 hours
php SDR_all.php _ &apos;{&quot;task&quot;:&quot;print_parent_basal_values&quot;}&apos;        #2.89 hours
php SDR_all.php _ &apos;{&quot;task&quot;:&quot;print_taxon_summary&quot;}&apos;              #22.92 minutes
php SDR_all.php _ &apos;{&quot;task&quot;:&quot;print_parent_taxon_summary&quot;}&apos;       #12.58 hours
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>