<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>1000</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>resource_ID</name>
          <description>e.g.
Enter 870 for resource &quot;Lovegrove and Haines 2004&quot; in eol.org
https://eol.org/resources/870</description>
          <defaultValue>870</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>source ~/.bash_profile &amp;&gt;/dev/null
rbenv global 2.6.5 &amp;&gt;/dev/null

# delete old folders
#e.g.
#cd /u/scripts/.plotter_workspace/prod/resources/prod.870.951/
#cd /u/scripts/.plotter_workspace/prod/staging/prod.870.951/

cd /u/scripts/.plotter_workspace/prod/resources/
rm -rf prod.$resource_ID.*
##ls -lt
cd /u/scripts/.plotter_workspace/prod/staging/
rm -rf prod.$resource_ID.*
##ls -lt

## from Jonathan
## rake paint:publish CONF=prod ID=822 CHUNK=5000
## later on, CHUNK above won&apos;t make a difference after all.

cd /u/scripts/plotter/lib/

##rake paint:show_directives CONF=prod ID=$resource_ID
# Jonathan says u don&apos;t need to show_directives anymore.

rake paint:count CONF=prod ID=$resource_ID
# times out: rake paint:qc CONF=prod ID=$resource_ID

# infer + stage = prepare
##rake paint:prepare CONF=prod ID=$resource_ID
# orig above but added with CHUNK below to fix error, too big default 10000
rake paint:prepare CONF=prod ID=$resource_ID CHUNK=2500

rake paint:publish CONF=prod ID=$resource_ID


# prepare + publish = paint
#rake paint:paint CONF=prod ID=$resource_ID

# testing...
# remove all of a resource&apos;s inferred trait assertions from the graphdb
#rake paint:clean CONF=prod ID=$resource_ID
#rake --tasks

</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>